<nav class="nav-bar">
    <div class="container-nav">
        <div class="botao-agenda">
            <a href="/">Agenda</a>
        </div>
        <div class="container-links">
            <% if(!user){ %>
                <a href="/login">Login</a>
            <% }else{ %>
                <a href="/contato">Cadastrar contato</a>
                <a href="/logout">Sair</a>
            <% } %>
        </div>
    </div>
</nav>