<nav class="nav-bar">
    <div class="container-nav">
        <button class="botao-agenda">Agenda</button>
        <div class="container-links">
            <a href="">link</a>
        </div>
    </div>
</nav>