<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
    <div class="container">
        <header>
            <h1>Agenda</h1>
            <p>Seus contatos estão abaixo</p>
        </header>
    </div>
</main>

<%- include('includes/footer') %>