<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
    <div class="container">
        <header>
            <h1>Agenda</h1>
            <p>Seus contatos estão abaixo</p>
        </header>
        <section class="error">
            <p>Um erro qualquer</p>
        </section>
        <section class="tabela-agenda">
            <table>
                <tbody>
                    <tr>
                        <td>Diego</td>
                        <td>Cardoso</td>
                        <td>diegocardosobsantos@gmail.com</td>
                        <td>(83) 98886-1216</td>
                    </tr>
                    <tr>
                        <td>Diego</td>
                        <td>Cardoso</td>
                        <td>diegocardosobsantos@gmail.com</td>
                        <td>(83) 98886-1216</td>
                    </tr>
                    <tr>
                        <td>Diego</td>
                        <td>Cardoso</td>
                        <td>diegocardosobsantos@gmail.com</td>
                        <td>(83) 98886-1216</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>

<%- include('includes/footer') %>